<nav class="navbar navbar-expand-md navbar-light d-flex flex-md-column">

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#groupNav"><span
      class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse w-100" id="groupNav">

    <ul class="navbar-nav w-100 d-flex flex-md-column text-center text-md-end groupNavBar">
      <li> <a href="/group/<%= groupDetails.id %>/profile" class="nav-link">Group Profile</a> </li>
      <li> <a href="/group/<%= groupDetails.id %>/members" class="nav-link">Members</a> </li>
      <li> <a href="/group/<%= groupDetails.id %>/ideas" class="nav-link">Ideas</a> </li>
      <li> <a href="/group/<%= groupDetails.id %>/trips" class="nav-link">Trips</a> </li>
      <li> <a href="/group/<%= groupDetails.id %>/archive" class="nav-link">History</a> </li>
    </ul>

  </div>
</nav>