<%- include ('partials/head') %>

  <body class="groups-landing">
    <div class="modal fade" id="creategroup-modal">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <h1>Create new group</h1>
          </div>
          <div class="modal-body">
            <form class="entry-form-container" action="/create-group" method="POST">
              <div class="row">
                <div class="row">
                  <div class="form-group">
                    <label for="name">Name: </label>
                    <input class="form-control" name="name" id="name">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label for="description">Description: </label>
                    <input class="form-control" name="description" id="description">
                  </div>
                </div>
              </div>

              <br><br>
              <button type="submit" class="btn btn-secondary btn-block">Submit</button>
            </form>
          </div>
          <div class="modal-footer"></div>

        </div>
      </div>

    </div>

    <div class="">
      <nav class="navbar navbar-expand-sm navbar-light main-navbar">

        <span class="navbar-brand mb-0 h1">DayOut</span>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">

          <ul class="navbar-nav">

            <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" id="profile-dropdown"
                role="button" data-bs-toggle="dropdown">Hi, <%= username %></a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Edit Profile</a></li>

                <li>
                  <form action="/logout?_method=DELETE" method="POST">

                    <button type="submit" class="btn btn-outline-dark btn btn-md">Logout</button>
                  </form>
                </li>

              </ul>
            </li>
            <li class="nav-item active">
              <a href="#" data-toggle="modal" data-target="#creategroup-modal" class="nav-link">Create Group</a>
            </li>
            <li class="nav-item active"><a href="#" class="nav-link">About</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <h1 style="text-align:center">Your Groups</h1>
      <div class="row">
        <% for (let i=0; i < allGroups.length; i +=1) { %>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
              <div class="img-container">
                <img src="https://picsum.photos/200" class="card-img-top" alt="A Group">

              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="/group/<%= allGroups[i].id %>">
                    <%= allGroups[i].name %>
                  </a></h5>
                <p class="card-text">
                  <%= allGroups[i].description %>
                </p>
              </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
      integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
      crossorigin="anonymous"></script>


  </body>

  </html>